<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlickrDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FlickrDrive.Properties.Settings>
            <setting name="oauthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="RootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </FlickrDrive.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight.Platform" publicKeyToken="5f873c45e98af8a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.19032" newVersion="5.3.0.19032" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>